import React from 'react';
import PropTypes from 'prop-types';
// import styles from './{{name}}.module.scss';

export default function {{name}}() {
  return <div>{{name}}</div>;
}

{{name}}.defaultProps = {};
{{name}}.propTypes = {};