import React from 'react';
import PropTypes from 'prop-types';
// import {} from './{{name}}.styles';

export default function {{name}}() {
  return <div>{{name}}</div>;
}

{{name}}.defaultProps = {};
{{name}}.propTypes = {};