import React, { useEffect, useCallback } from 'react';
import { useSelector, useDispatch } from 'react-redux';
// import {{name}} from '../components/{{name}}/{{name}}';

export default function {{name}}Container() {  
  return (<div>{{name}}Container</div>);
}